@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  color: black;
  margin: 0;
  box-sizing: border-box;
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s;
}


.flip-hover {
  @apply relative overflow-hidden px-6 py-3 rounded-md bg-pink-400 transition-colors duration-300;
}

.flip-hover::before {
  content: "";
  position: absolute;
  inset: 0; /* ensures full coverage */
  background-color: white;
  transform: skewX(-45deg) translate(-100%, 100%);
  transform-origin: bottom left;
  transition: transform 0.6s ease-in-out;
  z-index: 0;

  
  border-top-right-radius: 120% 120%;
}

.flip-hover:hover::before {
  transform: skewX(0deg) translate(0, 0);
}

.flip-text {
  @apply relative z-10 transition-colors duration-300 text-white;
}

.flip-hover:hover .flip-text {
  @apply text-black;
}

@keyframes rotateImages {
  0% {
    opacity: 0;
    transform: scale(0.8) rotate(-15deg);
  }
  5% {
    opacity: 1;
    transform: scale(1.1) rotate(5deg);
  }
  10% {
    transform: scale(1) rotate(0deg);
  }
  30% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
  33% {
    opacity: 0;
    transform: scale(0.8) rotate(15deg);
  }
  100% {
    opacity: 0;
    transform: scale(0.8) rotate(15deg);
  }
}

video::-webkit-media-controls {
  display: none !important;
}

abbr[title] {
  text-decoration: none !important;
  -webkit-text-decoration: none !important;
}

/* In your global styles or index.css */
.react-calendar {
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  border: none !important;
  color: black !important;
}

.react-calendar__navigation button:disabled {
  background-color: transparent !important;
  cursor: default;
}

.react-calendar__tile--active {
  background-color: #2563eb !important; 
  color: white !important;
  border-radius: 8px;
}

.react-calendar__tile--now {

  border-radius: 8px;
}

.react-calendar__navigation {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.react-calendar__navigation button {
  background-color: none !important;
}

.react-calendar__month-view__weekdays{
  color: black;
  text-decoration: none !important;
}

.react-calendar__navigation__next-button {
  background-color: #ECF2FF !important;
  border-radius: none !important;
  box-shadow: none !important;
}

.react-calendar__navigation__next-button:hover {
background-color: #dbe6ff !important;
}

.react-calendar__navigation__prev-button {
  background-color: #ECF2FF !important;
  box-shadow: none !important;
}

.react-calendar__navigation__prev-button:hover {
background-color: #dbe6ff !important;
}

.react-calendar__navigation__label{
    flex-grow: 0 !important;
}

.react-calendar__navigation__arrow {
  background-color: #ECF2FF !important;
  border-radius: 50% !important;
  box-shadow: none !important;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #2563eb;
  cursor: pointer;
  padding: 0;
  border: none;
}


.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button{
  display: none;
}
.react-calendar__navigation__arrow.react-calendar__navigation__next2-button{
  display: none;
}
